.container-fluid
    #footer.row
        .inner
            hr
            h3.row-title @Xingu.Zhang
            ul.link-group.row-title
                li: a(href="mailto:4476122968@qq.com", target="_blank"): i.fa.fa-envelope-o.fa-2x
                li: a(href="https://www.faccebook.com/xingu.zhang", target="_blank"): i.fa.fa-facebook-square.fa-2x
                li: a(href="https://www.pinterest.com/xgzhanglisa", target="_blank"): i.fa.fa-pinterest.fa-2x
                li: a(href="http://www.instagram.com/xinguzhang", target="_blank"): i.fa.fa-instagram.fa-2x
            h4.row-title Copyright &copy; 2017 Cheng.B, All Rights Reserved            