link(href="/libs/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
link(href="/libs/unslider/dist/css/unslider-dots.css", rel="stylesheet")
link(href="/libs/unslider/dist/css/unslider.css", rel="stylesheet")
link(href="/css/main.css", rel="stylesheet")
link(href="/libs/font-awesome/css/font-awesome.min.css", rel="stylesheet")
link(href="/libs/bootstrap-fileinput/css/fileinput.css", rel="stylesheet")

script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/unslider/dist/js/unslider-min.js")
script(src="/libs/bootstrap-fileinput/js/plugins/piexif.min.js")
script(src="/libs/bootstrap-fileinput/js/plugins/sortable.min.js")
script(src="/libs/bootstrap-fileinput/js/plugins/purify.min.js")
script(src="/libs/bootstrap-fileinput/js/fileinput.min.js")
