.navbar{
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100%;
    z-index: 1030;
}
.navbar-brand{
    /* color: black!important;  */
    letter-spacing: -2px;
    text-shadow: 5px 5px 10px grey;
    font-size: 3.5rem;
}
/* .navbar-btn{
    border: none;
    letter-spacing: 2px;
    color: #777;
    background-color: transparent;
} */
.row-title{
    /* display: block; */
    text-align: center;
}
.link-group{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.link-group>li{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}
.link-group>li:first-child{
    margin-left: 0;
}
.link-group>li>a{
    color: black;
}
.inner{
    /* text-align: center; */
    width: 80%;
    margin: 0 auto;
}
#itemFormBlank{
    height: 100px;
}
#title{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 30;
    font-size: 3.5rem;
    color: white;
}