.navbar{
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100%;
    z-index: 1030;
}
.navbar-brand{
    color: white!important;
    letter-spacing: -2px;
    text-shadow: 5px 5px 10px grey;
    font-size: 3.5rem;
}
.navbar-btn{
    border: none;
    letter-spacing: 2px;
    color: #777;
}