extends ../layout
block content
    form(action="/photo", method="post")
        .form-group
            label(for="itemName") Name
            input#itemName.form-control(type="text", name="itemName")
        .form-group
            label(for="itemTag") Tag
            input#itemTag.form-control(type="text", name="itemTag")
        .form-group
            label(for="itemComment") Comment
            textarea#itemComment(name="itemComment", cols="30", rows="10")
        